.title{
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}
.linkHome{
    font-size: 26px;
    color: rgba(109, 109, 109, 0.829);
    font-family: 'Inter', sans-serif;
}